p {
    color: gold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border-width: 2rem; 
    border-color: crimson;
    border-style: solid;
    background-color: blue;
    width: 4rem 
}